body {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.form-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  box-shadow: 2px 2px 5px 0.1px gray;
  padding: 50px 10px 10px 10px;
  border-radius: 10px;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
}
.form-wrapper__header {
  position: absolute;
  top: -30px;
  color: white;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  background-image: linear-gradient(
    to right,
    rgb(103, 149, 209),
    rgb(5, 33, 77)
  );
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0.1px gray;
}
.main-table th {
  width: 20%;
}
.main-table td {
  text-align: center;
  padding: 10px 0px;
}
.main-table .inputRow {
  border-top: 1px solid gray;
}
.main-table input {
  padding: 5px;
  border: 1px solid rgb(103, 149, 209);
  border-radius: 5px;
}
.form-wrapper button {
  padding: 5px;
  border: none;
  background: rgb(224, 98, 98);
  color: white;
  box-shadow: 1px 1px 2px 0.1px gray;
  cursor: pointer;
}
.form-wrapper .form-wrapper__footer button {
  background: rgb(103, 149, 209);
  margin: 10px;
  padding: 10px;
}
